{
  "scripts": {
    "seed:bff-admin": "tsx scripts/seed-bff-admin.ts"
  },
  "dependencies": {
    "bcryptjs": "^3.0.3",
    "jsonwebtoken": "^9.0.3",
    "mongoose": "^9.7.0",
    "nodemailer": "^7.0.13",
    "zod": "^4.3.6",
    "class-variance-authority": "^0.7.1",
    "clsx": "^2.1.1",
    "tailwind-merge": "^3.4.0"
  },
  "devDependencies": {
    "@types/bcryptjs": "^2.4.6",
    "@types/jsonwebtoken": "^9.0.10",
    "@types/nodemailer": "^8.0.1",
    "dotenv": "^17.2.3",
    "tsx": "^4.21.0"
  }
}
